

*{
    scroll-behavior: smooth;
   
    
}

div.progress{
   margin-bottom: -2px;
  background: rgb(51, 255, 170);
  top: 69px;
  height: 2px;
  margin:0 auto;
 
}

.sound-synth-icon img {
    width: 36px;
    height:32px;
    transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
}
.sound-synth-icon img:hover  {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}


body::-webkit-scrollbar-track {
   background:linear-gradient(65deg,rgb(245, 244, 244),#918f8fc9); 
  animation:gradient_0_0 5s ease infinite;
  background-size: 400% 400%;
  position:sticky;
  opacity: 0;
  width: 2px;
  
 
  
}
body::-webkit-scrollbar {
  width: 5px;
 
  
  
 
}
body::-webkit-scrollbar-thumb:hover{
  background:rgb(255, 255, 255);
 

 

}

body::-webkit-scrollbar-thumb{
  
  border-radius:80px;
  background-color:#4e4e4e;
  

 
 
}
body::-webkit-resizer{
  width: 5px;
}
body::-webkit-scrollbar-corner	{
  width: 5px;
}


body{
  background:linear-gradient(45deg,rgb(245, 244, 244),#918f8fc9),linear-gradient(60deg, #ffd89b, #19547b),linear-gradient(90deg, #acacac,#f29492);
  background-size:400% 400%;
  animation: gradient_0_0 5s ease infinite;
  overflow-x:hidden;
  
  


  

}
#device_android_ios{
 display: none;

  
}
#device_laptop{
  left:78px;
  position: absolute;
  width:max-content;
  user-select: none;
}

.back-to-top  {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  border-color:transparent;
  border-radius: 50%;
  background-color: #83a881;
  z-index: 100;
  box-shadow: 0 0 0 rgba(165, 236, 169, 0.568);
  
  animation: back-to-top-animate 2s infinite ;
  scroll-behavior: smooth;


}
.back-to-top:hover,.back-to-top:focus {
  filter: brightness(1.5);
  outline: none;
  animation: back-to-top 2s infinite;
  

}


.back-to-top::before,.back-to-top::after{
  content:"";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
 
 
  
 
}
.back-to-top::before{
  width:5px;
  height:25px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color: #f5f0f6 ;
 
}
.back-to-top::after{
  width: 15px;
  height: 15px;
  transform: translate(-50%,-50%) rotate(45deg);
  border-top:5px solid #f5f0f6;
  border-left:5px solid #f5f0f6;
}
.dws-progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  user-select: none;



  
 }
.progress-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: #0f0f0f8a;
  user-select: none;
 
   
  }    

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin:0;
  background:linear-gradient(90deg, #cccccc, #8b858b);
  z-index: 100;
  background-size:400% 400%;
  animation: gradient_0_0 5s ease infinite;
  
  

 }    
.row{
  padding-top: 99px;
  padding-bottom:20px;
 
}
.card .card-image img {
  user-select: none;
}

.card{
  padding-top: 14px;
  border-radius: 54px;
  padding-bottom:20px;  
  transition: all 0.5s ease;
  max-width: 359px;
  max-height:398px;
  
  

  
}
.card-content{
  user-select: none;
}

.card .card-image img {
  max-width:233px;
  height: 240px;
  padding: 4px;
  margin: 18px auto;
  border-radius:73px;
  box-shadow: 0px 0px 8px 0px #00000036;
  background-size: cover;

 
} 



.card .card-content .card-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  
}


.card-title-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}




nav, footer {
  background: linear-gradient(45deg, gray, black);
  background-size: 400% 400%;
  animation: gradient_0_0 3s ease infinite;
  margin: 0;
  padding: 0; 
  transition: all 0.5s ease;
 
  z-index: 100;
  

}
i.material-icons.right{
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition:all 0.5s ease;
  

}
i.material-icons.right:hover{
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
 }
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition:all 0.5s ease;
  border-bottom: 1px solid #ccc;
  top:0;
  left: 0;
  position: fixed;
  height: 71px;
 
  
}
footer.page-footer {
  bottom: 0;
  left: 0;
  width:100%;
  margin-top: 20px;
  height: 71px;
}
.container_1{
  margin-left:0;

  border: none;
  text-align: center;

 
}



  

a.brand-logo center {
  position: absolute;
  color: rgb(87, 85, 85);
  font-size: 2.1rem;
  padding: 0;
  user-select: none;
  cursor:default;
 
 
}
nav a.brand-logo {
  width:max-content;
  user-select: none;
  cursor:default;
  font-family: 'Lobster', cursive;
  border-bottom-right-radius:80px;
  border-bottom-left-radius:80px ;
  text-align: center; 
  display:flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  top:0;
  margin-left: 5px;

}
.waves-block{
  border-radius:25px;
}   


@keyframes gradient_0_0 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes back-to-top-animate{
  0%{
    transform:scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(146, 228, 153, 0.548);

  }
  50%{
    opacity: 1;
    -webkit-box-shadow: 0 0 0 10px rgba(148, 245, 180, 0.555);
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(181, 255, 172, 0.623);
  }

}
@-webkit-keyframes back-to-top {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(146, 228, 153, 0.548);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(148, 245, 180, 0.555);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(181, 255, 172, 0.623);
  }
}
 @keyframes back-to-top {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(174, 245, 169, 0.514);
    box-shadow: 0 0 0 0 rgba(74, 179, 135, 0.473);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(123, 187, 136, 0.712);
      box-shadow: 0 0 0 10px rgba(148, 221, 181, 0.705);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(150, 240, 188, 0.658);
      box-shadow: 0 0 0 0 rgba(166, 247, 190, 0.596);
  }
} 

@media screen and (max-width:1516px) {

  nav,footer{
    width: 100%;
  }
  .card .card-content .card-title{
    
   
    display:flex;
    padding-bottom:41px;
    

  }
  
.card .card-image img {
    max-width: 222px;
    height: 218px;
    padding: 4px;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius:79px;
  }
}
 @media screen  and (max-width:1200px){
  nav,footer{
    width: 100%;
    margin: 0;
    padding: 0; 
  }
  
  
 .card{
  
  flex-direction:column;
  justify-content: center;
  display: flex;
  padding:1px 3px 0px 38px;
  width: 320px;
   
  
}
 .card .card-image img{
  height:242px;
  max-width:243px;
  margin-left:2px;
  margin-right:3px;


 
}
nav{
  border-radius:0px 0px  50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1505px;
  margin: 0 auto;
  height: 58px;
  transition:all 0.5s ease;
}
}
@media screen and (max-width:900px){
  nav,footer{
    width: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
  }
  #device_android_ios{
    position: absolute;
    left: 43px;
    display: block;
    height: 22px;
    width:22px;
    right: 0px;
    padding:0 38px 51px 14px;
    background:linear-gradient(45deg, rgba(104, 97, 97, 0.541),rgba(65, 65, 65, 0.658),rgba(139, 139, 139, 0.623),rgba(92, 92, 92, 0.61));
    border-radius: 35px;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
      transition:all 0.7s ease;
    
  }
  #device_android_ios:hover{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
      transition:all 0.7s ease;
  }
.material-icons.left{
    width: 0;
    height: 0;
  }
  #device_laptop{
    display: none;
    
  }
  div.progress{
    
    display:none; 
   
   }

footer.page-footer{
  justify-content: center;
  align-content: space-between;
  align-items: center;
 
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {

  line-height: 50px;
}
 
.row{
   left: 50%;
  text-rendering:optimizeLegibility;
  
}
  
  .card .card-content .card-title{
      display: flex;  
   
      align-items:center;
      max-width: 257px;
      transition: all 0.5s ease;
    

 }
 .card{
  width: 326px;
  max-height:464px;
  align-items:center;
  border-radius: 88px;
  padding:1px 3px 0px 0px;
  margin:17px auto ;
  
  
 }
 .card .card-image img{

    border-radius:169px;
 }


 
}

@media screen and (max-width:500px) {
 
  nav,footer{
    width:100%;
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 32px;
    min-width: 1024px;
    max-width: 1200px;
 
  }

  
 nav {
  justify-content: center;
  align-content: space-between;
  align-items: center;
  height: 47px;
  position: absolute;
  
 }
 .container{
   width: 100%;
   margin-top: 44px;
 }
 a.brand-logo.center {
  font-size: 1.9rem;
  
 }
 footer.page-footer{
  justify-content:start;
  padding-top: 0;
  height: 82px;

 

 }
footer .footer-copyright .container{
  margin-right: 28.984;

}
.back-to-top{
  border-radius: 60%;
  right: 34px;
  height: 59px;
  width: 62px;
 
}
.back-to-top::after{
  width: 25px;
  height: 25px;
  animation: back-to-top animate 2s infinite;
}

.row{
  display: grid;
  padding: 0,32px;
  padding-top:5px;
  margin-left: 74vw;
  grid-template-columns: repeat(auto-fill, minmax(338px, 1fr));
  
  
}
.card{
  align-items: center;
  justify-content: center;
  padding:23px 3px 107px 0px;
  margin-top:20px;
  margin-bottom: 12px;
 
}
.card .card-image img{

  border-radius:219px;
  width:173px;
  height:173px;
  padding: 7px;
  

 
 





}
.card .card-content{
  margin-top: 12px;
  padding-bottom: 0;
}


}
@media screen and (max-width:375px){
  .row{
    margin-left:50%;
    padding-left: 38%;
  }
  .card{
    align-items: center;
    justify-content: center;
    padding:23px 3px 36px 0px;
    margin-top:20px;
    margin-bottom: 12px;
    border-radius:0px 48px  123px 123px;
   
  }
#device_android_ios{
 
  padding:0 30px 0 14px;
  top:0;
  height: 43;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display: block;
  font-size: 16px;
  height: 56px;
  line-height: 46px;
}
 
}
@media screen and (max-width:250px){
  .row{
    padding-left: 65%;
  }
  .card{
    align-items: center;
    justify-content: center;
    padding:23px 3px 36px 0px;
    margin-top:20px;
    margin-bottom: 12px;
    border-radius:150px 20px;
   
  }
  .card .card-reveal{
    padding:40px;
  }
  .card .card-image img{
    padding:18px;
  }
  
}
@media screen and (max-width:150px){
  nav,footer{
    width:100%;
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 32px;
    min-width: 437px;
    max-width: 1200px;
 
  }
  .row{
    left:0;
    margin-left: -75px;
  }
  .card{
    
    border-radius:150px;
    max-width: 300px;
    min-width: 279px;
   
   
  }
  .card .card-reveal{
    padding:50px;
  }
  .card .card-image{
   
    padding: 10px;
    width: 203px;
    height: 212px;
  }
}



