

*{
    scroll-behavior: smooth;
   
    
}





body::-webkit-scrollbar-track {
   background:linear-gradient(65deg,rgb(245, 244, 244),#918f8fc9); 
  animation:gradient_0_0 5s ease infinite;
  background-size: 400% 400%;
  position:sticky;
  opacity: 0;
  width: 2px;
 
  
}
body::-webkit-scrollbar {
  width: 6px;
  
  
 
}
body::-webkit-scrollbar-thumb:hover{
  background:rgb(255, 255, 255);
 

 

}

body::-webkit-scrollbar-thumb{
  
  border-radius:80px;
  background-color:#4e4e4e;
  

 
 
}



body{
  background:linear-gradient(65deg,rgb(245, 244, 244),#918f8fc9);
  background-size:400% 400%;
  animation: gradient_0_0 5s ease infinite;

  

}



.back-to-top  {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  border-color:transparent;
  border-radius: 50%;
  background-color: #629460;
  z-index: 100;


}
.back-to-top:hover,.back-to-top:focus {
  filter: brightness(1.5);
  outline: none;
}


.back-to-top::before,.back-to-top::after{
  content:"";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
   animation: back-to-top-animate,.1s,linear infinite; 
 
  
 
}
.back-to-top::before{
  width:5px;
  height:25px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color: #f5f0f6 ;
 
}
.back-to-top::after{
  width: 15px;
  height: 15px;
  transform: translate(-50%,-50%) rotate(45deg);
  border-top:5px solid #f5f0f6;
  border-left:5px solid #f5f0f6;
}
.dws-progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  user-select: none;
  /* overflow: hidden; */ 

  
 }
.progress-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: #0f0f0f8a;
  user-select: none;
 
    /* overflow: hidden; */
  }    
/* 
#preloader::-webkit-scrollbar{
  display: none;
  overflow: hidden;
  
}  !НЕ РАБОТАЕТ!*/ 
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin:0;
  background:linear-gradient(45deg, #cccccc, #8b858b);
  z-index: 100;
  background-size:400% 400%;
  animation: gradient_0_0 0s ease infinite;
  

 }    
.row{
  padding-top: 20px;
  padding-bottom:20px;
}

.card ::selection{
  background-color: grey;
}
.card{
  padding-top: 10px;
  border-radius: 35px;
  padding-bottom: 66px;  
  
}
.card .card-image img {
  max-width:310px;
  height: 310px;
  padding: 3px;
  margin: 6px auto;
  border-radius: 66px;
  box-shadow: 0px 0px 8px 0px #00000036;
  background-size: cover;
  display: flex;
 
} 



.card .card-content .card-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
 
}

.card-title-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}




nav, footer {
  background: linear-gradient(45deg, gray, black);
  background-size: 400% 400%;
  animation: gradient_0_0 10s ease infinite;
  /* background-size:cover; */
   width: 100%;
  margin: 0;
  padding: 0; 

  

}

  

a.brand-logo center {
  position: absolute;
  color: rgb(87, 85, 85);
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  user-select: none;
  cursor:default;
 
}
.brand-logo {
  width:max-content;
  user-select: none;
  cursor:default;
  font-family: 'Lobster', cursive;
  border-bottom-right-radius:80px;
  border-bottom-left-radius:80px ;
   text-align: center; 

}


@keyframes gradient_0_0 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes back-to-top-animate{
  0%{
    transform:scale(0.5);
    opacity: 0;

  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }

}
@media screen and (max-width:1516px) {
  /* specific CSS */
  nav,footer{
    width: 100%;
  }
  .card .card-content .card-title{
    
   
    display:flex;
   

  }
  .card-image{
     max-height:320px;
     max-width:300px;
  }
}
 @media screen  and (max-width:1200px){
  nav,footer{
    width: 100%;
    margin: 0;
    padding: 0; 
  }
  
  .card .card-content .card-title{
      display: flex;  
      justify-content: center;
      flex-direction: column;
      padding:25px;
      align-items: center ;

 }
 .card{
  max-width: 450px;
 }
 .card-image{
  max-height:320px;
  max-width:300px;
  justify-content: center;
  margin-left: 65px;
 
}
}
@media screen and (max-width:900px){
  nav,footer{
    width: 100%;
    margin: 0;
    padding: 0; 
  }
  
  .card .card-content .card-title{
      display: flex;  
      flex-direction: column;  
      align-items:center;
      max-width: 450px;

 }
 .card{
  width: 326px;
  max-height:478px;
  align-items:center;
  
 }
 .card-image{
  max-height:320px;
  max-width:300px;

 
 
}
}
/* @media screen and (max-width:398px){
  nav,footer{
    max-width: 100%;
    margin: 0;
    padding: 0;

    
  }
  nav.brand-logo{
    text-align: center; 
    

   
    
   

  }
  *, *:before, *:after {
    box-sizing: border-box;
}
.card{
  justify-content: center;
  align-items: center;
  padding-right: 35px;
}


  
} */
 
