

*{
    scroll-behavior: smooth;
   
    
}





body::-webkit-scrollbar-track {
   background:linear-gradient(65deg,rgb(245, 244, 244),#918f8fc9); 
  animation:gradient_0_0 5s ease infinite;
  background-size: 400% 400%;
  position:sticky;
  opacity: 0;
  width: 2px;
 
  
}
body::-webkit-scrollbar {
  width: 5px;
  
  
 
}
body::-webkit-scrollbar-thumb:hover{
  background:rgb(255, 255, 255);
 

 

}

body::-webkit-scrollbar-thumb{
  
  border-radius:80px;
  background-color:#4e4e4e;
  

 
 
}
body::-webkit-resizer{
  width: 5px;
}
body::-webkit-scrollbar-corner	{
  width: 5px;
}


body{
  background:linear-gradient(45deg,rgb(245, 244, 244),#918f8fc9),linear-gradient(60deg, #ffd89b, #19547b),linear-gradient(90deg, #114357,#f29492);
  background-size:400% 400%;
  animation: gradient_0_0 5s ease infinite;

  

}



.back-to-top  {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 200px;
  width: 50px;
  height: 50px;
  border-color:transparent;
  border-radius: 50%;
  background-color: #629460;
  z-index: 100;


}
.back-to-top:hover,.back-to-top:focus {
  filter: brightness(1.5);
  outline: none;
}


.back-to-top::before,.back-to-top::after{
  content:"";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
   animation: back-to-top-animate,.1s,linear infinite; 
 
  
 
}
.back-to-top::before{
  width:5px;
  height:25px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color: #f5f0f6 ;
 
}
.back-to-top::after{
  width: 15px;
  height: 15px;
  transform: translate(-50%,-50%) rotate(45deg);
  border-top:5px solid #f5f0f6;
  border-left:5px solid #f5f0f6;
}
.dws-progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  user-select: none;


  
 }
.progress-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: #0f0f0f8a;
  user-select: none;
 
   
  }    

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin:0;
  background:linear-gradient(45deg, #cccccc, #8b858b);
  z-index: 100;
  background-size:400% 400%;
  animation: gradient_0_0 0s ease infinite;
  

 }    
.row{
  padding-top: 20px;
  padding-bottom:20px;
}

.card ::selection{
  background-color: grey;
}
.card{
  padding-top: 14px;
  border-radius: 54px;
  padding-bottom:20px;  
  transition: all 0.5s ease;
  max-width: 359px;
  max-height:398px;
  

  
}
.card .card-image img {
  max-width:233px;
  height: 240px;
  padding: 4px;
  margin: 18px auto;
  border-radius:73px;
  box-shadow: 0px 0px 8px 0px #00000036;
  background-size: cover;

 
} 



.card .card-content .card-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
 
}

.card-title-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}




nav, footer {
  background: linear-gradient(45deg, gray, black);
  background-size: 400% 400%;
  animation: gradient_0_0 10s ease infinite;
   width: 100%;
  margin: 0;
  padding: 0; 
  transition: all 0.5s ease;

  

}

  

a.brand-logo center {
  position: absolute;
  color: rgb(87, 85, 85);
  font-size: 2.1rem;
  padding: 0;
  user-select: none;
  cursor:default;
 
}
nav a.brand-logo {
  width:max-content;
  user-select: none;
  cursor:default;
  font-family: 'Lobster', cursive;
  border-bottom-right-radius:80px;
  border-bottom-left-radius:80px ;
  text-align: center; 
  display:flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;

}


@keyframes gradient_0_0 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes back-to-top-animate{
  0%{
    transform:scale(0.5);
    opacity: 0;

  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }

}
@media screen and (max-width:1516px) {

  nav,footer{
    width: 100%;
  }
  .card .card-content .card-title{
    
   
    display:flex;
    padding-bottom:41px;

  }
  
.card .card-image img {
    max-width: 235px;
    height: 233px;
    padding: 4px;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius:79px;
  }
}
 @media screen  and (max-width:1200px){
  nav,footer{
    width: 100%;
    margin: 0;
    padding: 0; 
  }
  
  
 .card{
  
  flex-direction:column;
  justify-content: center;
  display: flex;
  padding:1px 3px 0px 38px;
  width: 320px;
   
  
}
 .card .card-image img{
  height:242px;
  max-width:243px;
  margin-left:2px;
  margin-right:3px;


 
}
}
@media screen and (max-width:900px){
  nav,footer{
    width: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }
footer.page-footer{
  justify-content: center;
  align-content: space-between;
  align-items: center;
 
}
  
  .card .card-content .card-title{
      display: flex;  
   
      align-items:center;
      max-width: 257px;
      transition: all 0.5s ease;

 }
 .card{
  width: 326px;
  max-height:464px;
  align-items:center;
  border-radius: 88px;
  padding:1px 3px 0px 0px;
  
  
 }
 .card .card-image img{

    border-radius:169px;
  

 
 
}
}
@media screen and (max-width:500px) {
 
  nav,footer{
    width:100%;
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 32px;
    min-width: 1024px;
    max-width: 1200px;
 
  }
 nav {
  justify-content: center;
  align-content: space-between;
  align-items: center;
  
 
 }
 a.brand-logo.center {
  font-size: 1.6rem;
 }
 footer.page-footer{
  justify-content:start;
 

 }
footer .footer-copyright .container{
  margin-right: 28.984;

}

.card{
  align-items: center;
  justify-content: center;
  padding:1px 3px 107px 0px;
  margin-left:96%;
}
.card .card-image img{

  border-radius:219px;
  width:173px;
  height:173px;
  

 
 





}

}
